* text=auto !eol
/GNUmakefile -text
/compiling.txt -text
/make-freebsd.sh -text
/make-linux.sh -text
/make-mingw.bat -text
/make-os-x.sh -text
release/COPYING.txt -text
release/SDL2.dll -text
release/help.txt -text
release/protracker-osx.app/Contents/Frameworks/SDL2.framework/Headers -text
release/protracker-osx.app/Contents/Frameworks/SDL2.framework/Resources -text
release/protracker-osx.app/Contents/Frameworks/SDL2.framework/SDL2 -text
release/protracker-osx.app/Contents/Frameworks/SDL2.framework/Versions/A/Resources/Info.plist -text
release/protracker-osx.app/Contents/Frameworks/SDL2.framework/Versions/A/SDL2 -text
release/protracker-osx.app/Contents/Frameworks/SDL2.framework/Versions/A/_CodeSignature/CodeResources -text
release/protracker-osx.app/Contents/Frameworks/SDL2.framework/Versions/Current -text
release/protracker-osx.app/Contents/Info.plist -text
release/protracker-osx.app/Contents/PkgInfo -text
release/protracker-osx.app/Contents/Resources/protracker.icns -text
release/protracker.ini -text
src/COPYING.txt -text
src/gfx/bmp/aboutscreen.bmp -text
src/gfx/bmp/bmp2pth.c -text
src/gfx/bmp/bmp2pth.exe -text
src/gfx/bmp/clear.bmp -text
src/gfx/bmp/diskop.bmp -text
src/gfx/bmp/editop1.bmp -text
src/gfx/bmp/editop2.bmp -text
src/gfx/bmp/editop3.bmp -text
src/gfx/bmp/editop4.bmp -text
src/gfx/bmp/editop_modes.bmp -text
src/gfx/bmp/font.bmp -text
src/gfx/bmp/icon.bmp -text
src/gfx/bmp/looppins.bmp -text
src/gfx/bmp/mod2wav.bmp -text
src/gfx/bmp/monoscope.bmp -text
src/gfx/bmp/mutebuttons.bmp -text
src/gfx/bmp/packing.txt -text
src/gfx/bmp/pat2smpdialog.bmp -text
src/gfx/bmp/posed.bmp -text
src/gfx/bmp/sampler.bmp -text
src/gfx/bmp/samplerfilters.bmp -text
src/gfx/bmp/samplervol.bmp -text
src/gfx/bmp/spectrum.bmp -text
src/gfx/bmp/terminal_scrollbar.bmp -text
src/gfx/bmp/terminal_top.bmp -text
src/gfx/bmp/tracker.bmp -text
src/gfx/bmp/yesnodialog.bmp -text
src/gfx/protracker.ico -text
src/gfx/pt_gfx_aboutscreen.c -text
src/gfx/pt_gfx_arrow.c -text
src/gfx/pt_gfx_clear.c -text
src/gfx/pt_gfx_diskop.c -text
src/gfx/pt_gfx_editop.c -text
src/gfx/pt_gfx_font.c -text
src/gfx/pt_gfx_icon.c -text
src/gfx/pt_gfx_loop_pins.c -text
src/gfx/pt_gfx_mod2wav.c -text
src/gfx/pt_gfx_mute_buttons.c -text
src/gfx/pt_gfx_pat2smp_dialog.c -text
src/gfx/pt_gfx_patcursor.c -text
src/gfx/pt_gfx_pointer.c -text
src/gfx/pt_gfx_posed.c -text
src/gfx/pt_gfx_sampler.c -text
src/gfx/pt_gfx_spectrum.c -text
src/gfx/pt_gfx_terminal.c -text
src/gfx/pt_gfx_tracker.c -text
src/gfx/pt_gfx_vumeter.c -text
src/gfx/pt_gfx_yes_no_dialog.c -text
src/protracker.rc -text
src/pt_audio.c -text
src/pt_audio.h -text
src/pt_blep.c -text
src/pt_blep.h -text
src/pt_config.c -text
src/pt_config.h -text
src/pt_dirent.c -text
src/pt_dirent.h -text
src/pt_diskop.c -text
src/pt_diskop.h -text
src/pt_edit.c -text
src/pt_edit.h -text
src/pt_header.h -text
src/pt_helpers.c -text
src/pt_helpers.h -text
src/pt_keyboard.c -text
src/pt_keyboard.h -text
src/pt_main.c -text
src/pt_modloader.c -text
src/pt_modloader.h -text
src/pt_modplayer.c -text
src/pt_mouse.c -text
src/pt_mouse.h -text
src/pt_palette.c -text
src/pt_palette.h -text
src/pt_patternviewer.c -text
src/pt_patternviewer.h -text
src/pt_sampleloader.c -text
src/pt_sampleloader.h -text
src/pt_sampler.c -text
src/pt_sampler.h -text
src/pt_scopes.c -text
src/pt_scopes.h -text
src/pt_tables.c -text
src/pt_tables.h -text
src/pt_terminal.c -text
src/pt_terminal.h -text
src/pt_textout.c -text
src/pt_textout.h -text
src/pt_unicode.c -text
src/pt_unicode.h -text
src/pt_visuals.c -text
src/pt_visuals.h -text
vs2015_project/pt-clone.sln -text
vs2015_project/pt-clone/SDL2.dll -text
vs2015_project/pt-clone/protracker.ini -text
vs2015_project/pt-clone/pt-clone.vcxproj -text
vs2015_project/pt-clone/pt-clone.vcxproj.filters -text
vs2015_project/pt-clone/xp_pe_patch.exe -text
vs2017_project/pt-clone.sln -text
vs2017_project/pt-clone/SDL2.dll -text
vs2017_project/pt-clone/protracker.ini -text
vs2017_project/pt-clone/pt-clone.vcxproj -text
vs2017_project/pt-clone/pt-clone.vcxproj.filters -text
vs2017_project/pt-clone/pt-clone.vcxproj.user -text
vs2017_project/pt-clone/xp_pe_patch.exe -text
vs_sdl_include/COPYING.txt -text
vs_sdl_include/README-SDL.txt -text
vs_sdl_include/README.txt -text
vs_sdl_include/include/SDL2/SDL.h -text
vs_sdl_include/include/SDL2/SDL_assert.h -text
vs_sdl_include/include/SDL2/SDL_atomic.h -text
vs_sdl_include/include/SDL2/SDL_audio.h -text
vs_sdl_include/include/SDL2/SDL_bits.h -text
vs_sdl_include/include/SDL2/SDL_blendmode.h -text
vs_sdl_include/include/SDL2/SDL_clipboard.h -text
vs_sdl_include/include/SDL2/SDL_config.h -text
vs_sdl_include/include/SDL2/SDL_cpuinfo.h -text
vs_sdl_include/include/SDL2/SDL_egl.h -text
vs_sdl_include/include/SDL2/SDL_endian.h -text
vs_sdl_include/include/SDL2/SDL_error.h -text
vs_sdl_include/include/SDL2/SDL_events.h -text
vs_sdl_include/include/SDL2/SDL_filesystem.h -text
vs_sdl_include/include/SDL2/SDL_gamecontroller.h -text
vs_sdl_include/include/SDL2/SDL_gesture.h -text
vs_sdl_include/include/SDL2/SDL_haptic.h -text
vs_sdl_include/include/SDL2/SDL_hints.h -text
vs_sdl_include/include/SDL2/SDL_joystick.h -text
vs_sdl_include/include/SDL2/SDL_keyboard.h -text
vs_sdl_include/include/SDL2/SDL_keycode.h -text
vs_sdl_include/include/SDL2/SDL_loadso.h -text
vs_sdl_include/include/SDL2/SDL_log.h -text
vs_sdl_include/include/SDL2/SDL_main.h -text
vs_sdl_include/include/SDL2/SDL_messagebox.h -text
vs_sdl_include/include/SDL2/SDL_mouse.h -text
vs_sdl_include/include/SDL2/SDL_mutex.h -text
vs_sdl_include/include/SDL2/SDL_name.h -text
vs_sdl_include/include/SDL2/SDL_opengl.h -text
vs_sdl_include/include/SDL2/SDL_opengl_glext.h -text
vs_sdl_include/include/SDL2/SDL_opengles.h -text
vs_sdl_include/include/SDL2/SDL_opengles2.h -text
vs_sdl_include/include/SDL2/SDL_opengles2_gl2.h -text
vs_sdl_include/include/SDL2/SDL_opengles2_gl2ext.h -text
vs_sdl_include/include/SDL2/SDL_opengles2_gl2platform.h -text
vs_sdl_include/include/SDL2/SDL_opengles2_khrplatform.h -text
vs_sdl_include/include/SDL2/SDL_pixels.h -text
vs_sdl_include/include/SDL2/SDL_platform.h -text
vs_sdl_include/include/SDL2/SDL_power.h -text
vs_sdl_include/include/SDL2/SDL_quit.h -text
vs_sdl_include/include/SDL2/SDL_rect.h -text
vs_sdl_include/include/SDL2/SDL_render.h -text
vs_sdl_include/include/SDL2/SDL_revision.h -text
vs_sdl_include/include/SDL2/SDL_rwops.h -text
vs_sdl_include/include/SDL2/SDL_scancode.h -text
vs_sdl_include/include/SDL2/SDL_shape.h -text
vs_sdl_include/include/SDL2/SDL_stdinc.h -text
vs_sdl_include/include/SDL2/SDL_surface.h -text
vs_sdl_include/include/SDL2/SDL_system.h -text
vs_sdl_include/include/SDL2/SDL_syswm.h -text
vs_sdl_include/include/SDL2/SDL_test.h -text
vs_sdl_include/include/SDL2/SDL_test_assert.h -text
vs_sdl_include/include/SDL2/SDL_test_common.h -text
vs_sdl_include/include/SDL2/SDL_test_compare.h -text
vs_sdl_include/include/SDL2/SDL_test_crc32.h -text
vs_sdl_include/include/SDL2/SDL_test_font.h -text
vs_sdl_include/include/SDL2/SDL_test_fuzzer.h -text
vs_sdl_include/include/SDL2/SDL_test_harness.h -text
vs_sdl_include/include/SDL2/SDL_test_images.h -text
vs_sdl_include/include/SDL2/SDL_test_log.h -text
vs_sdl_include/include/SDL2/SDL_test_md5.h -text
vs_sdl_include/include/SDL2/SDL_test_random.h -text
vs_sdl_include/include/SDL2/SDL_thread.h -text
vs_sdl_include/include/SDL2/SDL_timer.h -text
vs_sdl_include/include/SDL2/SDL_touch.h -text
vs_sdl_include/include/SDL2/SDL_types.h -text
vs_sdl_include/include/SDL2/SDL_version.h -text
vs_sdl_include/include/SDL2/SDL_video.h -text
vs_sdl_include/include/SDL2/begin_code.h -text
vs_sdl_include/include/SDL2/close_code.h -text
vs_sdl_include/lib/SDL2.lib -text
vs_sdl_include/lib/SDL2main.lib -text
